@tailwind base;
@tailwind components;
@tailwind utilities;

.queryImage{
  width: 260px;
  height: 160px;
}

.contenedor{
  height: 400px;
}

body.modal-open {
  overflow: hidden;
}

.equis {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  opacity: 1;
}

.image1{
  background-image: url('../public/cup-4.jpg');
}

.image2{
  background-image: url('../public/cup-3.jpg');
}

.menu {
  opacity: 1;
  transition: opacity 0.3s ease; /* Agrega una transición de 0.3 segundos para la opacidad */
}

.menu.hidden {
  opacity: 0;
  pointer-events: none; /* Evita que los elementos ocultos sean clickeables */
}


  @media ( max-width: 1024px ){
    .queryImage{
      width: 180px;
      height: 112px;
    }
  };